//- Creates a new navigation item
//- Parameters
//- name: Name of item
//- href: Where item redirects
//- active: If the item is active at this moment
mixin nav_item(name, href, active)
  li(role="presentation" class=active ? 'active' : '')
    a(href=href)= name
