include ../mixins/form

block breadcrumb
  ol.breadcrumb
    li: a(href="/"): i.fa.fa-home
    li: a(ng-href="#/patients") Costos
    li: a(ng-href="#/patients") Gastos mensuales
    li.active(ng-bind="month|uppercase")
  
block content
  h1 Gastos mensuales
  h2(ng-bind="month|uppercase")
  .row
    .col-md-10
      form.form-horizontal(novalidate name="form")
        formset.col-md-12(ng-repeat="(categoria, items) in categorias")
          legend(ng-bind="categoria")
          .form-group.col-md-6(ng-repeat="item in items")
            .row
              label.col-sm-3.col-md-4(ng-bind="item.name"
                                      for="{{categoria}}-{{$index}}")  
              .input-group.col-sm-8.col-md-7
                .input-group-addon $
                input.form-control(type="number" ng-model="item.price" 
                                   id="{{categoria}}-{{$index}}")  
    .col-md-2.bg-primary
      h3 Total
      dl
        dt Total
        dd(ng-bind="getTotal()|currency")
  .row
    .col-md-12
      .btn-group(role="group" aria-label="...")
        button.btn.btn-success(ng-click="save()" 
                               ng-disabled="!form.$valid") Guardar
        button.btn.btn-danger(ng-click="cancel()") Cancelar
