block breadcrumb
  ol.breadcrumb
    li: a(href="/"): i.fa.fa-home
    li: a(href="#/patients") Lista de pacientes
  
block content  
  h1 Pacientes

  //- Filter section
  //- ------------------------------------------------------------------------
  ul.sm.nav.nav-pills
    li(role="presentation" ng-class="{'active':tag==activeTag}"
       ng-repeat="tag in tags")
      a(href="#/patients" ng-bind="tag" ng-click="selectTag(tag)")
  input.col-xs-12(ng-model="search" placeholder="Teclee para buscar")

  //- Patient's list
  //- ------------------------------------------------------------------------
  table.table.table-striped
    thead
      tr
        th Nombre
        th Teléfono
        th: a.btn.btn-default(href="#/patients/create")
          i.fa.fa-plus
          |  Nuevo paciente
    tbody
      tr(ng-repeat="patient in patients|orderBy:'last_name'|filter:filterByTags|filter:search")
        td
          a(ng-href="#/patients/{{patient.slug}}")
            strong(ng-bind='patient.last_name|uppercase')
            span.text-capitalize(ng-bind='" " + patient.first_name+" "')
            span.badge(ng-repeat="tag in patient.tags" ng-bind="tag")
        td
          ul.unstyled
            //- FIXME Se puede eliminar cuando se migren los telefonos viejos
            li.style.phone(ng-if='patient.phone') {{ patient.phone }}
            //- --------------------------------------------------------------
            li.style.phone(ng-if='patient.phones.home') {{ patient.phones.home }}
            li.style.cellphone(ng-if='patient.phones.cellphone') {{ patient.phones.cellphone }}
            li.style.work(ng-if='patient.phones.work') {{ patient.phones.work }}
        td
          .btn-group
            a.btn.btn-danger(href="#/patients/{{ patient.slug }}/delete")
              i.fa.fa-trash
              |  Borrar
