h1 Pacientes

input.col-xs-12(ng-model="search" placeholder="Teclee para buscar")

table.table.table-striped
  thead
    tr
      th Nombre
      th Teléfono
      th: a.btn.btn-default(href="#/patients/create")
        i.fa.fa-plus  Nuevo paciente
  tbody
    tr(ng-repeat="patient in patients|filter:search")
      td
        a(href="#/patients/{{patient.slug}}")
          | {{ patient.first_name }} {{ patient.last_name }}
      td {{ patient.phone }}
      td
        .btn-group
          a.btn.btn-default(href="#/patients/{{ patient.slug }}/update")
            i.fa.fa-pencil  Editar
          a.btn.btn-danger(href="#/patients/{{ patient.slug }}/delete")
            i.fa.fa-remove  Borrar
