include ../mixins/form.jade

.modal-header
  button.close(type="button" ng-click="close()" aria-label="close")
    span(aria-hidden="true") &times;
  h4.modal-title Seleccione la carpeta de destino
.modal-body
  ul
    li(ng-repeat="folder in folders|orderBy:'name'")
      i.fa.fa-folder
      a(ng-click="select(folder)" ng-bind="' ' + folder.name")
.modal-footer
  button.btn.btn-default(type="button" ng-click="close()") Cerrar
