include ../mixins/form.jade

.modal-header
  button.close(type="button" ng-click="close()" aria-label="close")
    span(aria-hidden="true") &times;
  h4.modal-title Foto
.modal-body
  .row
    .col-md-12
      img.img-rounded.img-responsive.center-block(ng-src="{{photo.path}}"
          alt="{{photo.description}}"
          title="{{photo.description}}")
.modal-footer
  .row
    .col-md-3
      strong(ng-bind="photo.date|date:'medium'")
    .col-md-7
      span.text-center(ng-bind="photo.description")
    .col-md-2
      button.btn.btn-default(type="button" ng-click="close()") Cerrar
