h1 Delete patient

.row
  .col-md-12
    p Are you sure to delete the person {{ patient.first_name }}
      {{ patient.last_name }}?

  .col-md-12
    .btn-group(role="group" aria-label="...")
      button.btn.btn-danger(ng-click="delete()") Delete
      button.btn.btn-success(ng-click="cancel()") Cancel
