h1 {{ patient.name }}

dl
  dt ID
  dd {{ patient._id }}
  dt Name
  dd {{ patient.first_name }} {{ patient.last_name }}
  dt Phone
  dd {{ patient.phone }}

a.btn.btn-default(href="#/patients")
    i.fa.fa-arrow-left  Back
