ol.breadcrumb
  li: a(href="#/patients") Lista de pacientes
  li.active: {{ patient.first_name }} {{ patient.last_name }}

h1 {{ patient.first_name }} {{ patient.last_name }}
ng-include(src="'/partials/includes/nav_patient.html'" onload="section='detail'")

h2 Datos del paciente
dl
  dt Nombre
  dd {{ patient.first_name }} {{ patient.last_name }}
  dt Telefono
  dd {{ patient.phone }}
