.view-container {
  position: relative;
}

.view-frame.ng-enter, .view-frame.ng-leave {
  background: white
  width: 100%
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
  position: absolute
  top: 0
  left: 15px
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.patient-list-item.ng-enter,
.patient-list-item.ng-leave,
.patient-list-item.ng-move {
  overflow: hidden;
  transition: 0.3s linear all;
}

.patient-list-item.ng-enter,
.patient-list-item.ng-leave.ng-leave-active,
.patient-list-item.ng-move {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.patient-list-item.ng-enter.ng-enter-active,
.patient-list-item.ng-leave,
.patient-list-item.ng-move.ng-move-active {
  height: 51px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 10px;
}
