$link-color = #1DA7D5
$background = #337AB7
$breadcrumb-bg = #EBF1F9
@import "bootstrap"
@import "odontogram"
@import "animations"
@import url("https://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise")

.required
  label
    &:after
      content: "*"
      color: $brand-danger

body
  background-color: $background

.container
  background-color: #fff

ul.unstyled
  list-style: none
  margin: 0
  padding: 0

  li.style
    &:before
      font-family: FontAwesome
      width: 20px;
      display: inline-block;

  li.phone
    &:before
      content: "\f095"

  li.cellphone
    &:before
      content: "\f10b"

  li.work
    &:before
      content: "\f0b1"

.bg-secondary
  @extend .bg-primary
  background-color: $table-bg-active
  color: $text-color

tr.child
  background-color: darken($table-bg-active, 10%) !important

  td
    padding-left: 1em !important

.cursor-pointer:hover
  cursor: pointer

.gallery
  img
    @media screen and (min-width: 992px)
      height: 300px
      margin-bottom: 1em
