$link-color = #1DA7D5
$background = #1D6AD5
$breadcrumb-bg = #EBF1F9
@import "bootstrap"
@import "odontogram"

.required
  label
    &:after
      content: "*"
      color: $brand-danger

body
  background-color: $background

.container
  background-color: #fff

ul.unstyled
  list-style: none
  margin: 0
  padding: 0

  li.style
    &:before
      font-family: FontAwesome
      width: 20px;
      display: inline-block;

  li.phone
    &:before
      content: "\f095"

  li.cellphone
    &:before
      content: "\f10b"

  li.work
    &:before
      content: "\f0b1"
