$link-color = #1DA7D5
$breadcrumb-bg = lighten(#9AB7E3, 80%)
@import "bootstrap"

.required
  label
    &:after
      content: "*"
      color: $brand-danger

body
  background-color: #1D6AD5

.container
  background-color: #fff
