// Styles for odontogram
// Variables
// $disease-color: Represents background color when the theeth has a disorder
// $fix-color: Represents background color when the teeth has a fix
// $bg-color: Color of the background when the sector isn selected
@import "bootstrap/variables"
@import "bootstrap/buttons"

$disease-color ?= $brand-danger
$fix-color ?= $brand-primary
$bg-color ?= white
$selected-color ?= #8CD58C

.btn-toolbar
  margin-bottom: 0.5em;

.btn-disease
  @extend .btn-danger
  background-color: $disease-color

.btn-fix
  @extend .btn-primary
  background-color: $fix-color

.quadrant
  display: inline-block
  margin-right: 1em

  .piece
    display: inline-block
    width: 69px
    margin-bottom: 2em
    @media screen and (max-width: 1024px)
      width: 57px
    @media screen and (max-width: 800px)
      width: 88px
    @media screen and (max-width: 400px)
      width: 135px
      margin-bottom: 3em

    svg
      width: 69px
      @media screen and (max-width: 1024px)
        width: 58px
      @media screen and (max-width: 800px)
        width: 88px
      @media screen and (max-width: 400px)
        width: 135px


    .sector
      fill: $bg-color
      &:hover
        fill: $selected-color

    .sector.disease
      fill: $disease-color
      fill-opacity:1
      &:hover
        fill: lighten($disease-color, 10%)

    .sector.fix
      fill: $fix-color
      fill-opacity:1
      &:hover
        fill: lighten($fix-color, 10%)

    .sector.selected
      fill: $selected-color
      fill-opacity:1
      &:hover
        fill: darken($selected-color, 10%)

    .removed
      display: none
      fill: $disease-color

    table
      border: 1px solid $gray-darker
      width: 100%

      td
        border: 1px solid $gray-darker
        text-align: center
        height: 1.5em;
        width: 1.5em;

      th
        text-align: center
