ol.breadcrumb
  li: a(href="#/patients") Lista de pacientes
  li.active: {{ patient.first_name }} {{ patient.last_name }}

h1 {{ patient.first_name }} {{ patient.last_name }}
ng-include(src="'partials/nav_patient.html'" onload="section='treatment'")

h2 Plan de tratamiento

.panel.panel-default
  .panel-heading
    h3.panel-title Lorem ipsum
  .panel-body
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id velit sed
     nibh dapibus efficitur quis a risus. Maecenas nec magna vel est rhoncus
     vehicula. Proin et ultrices mauris. Pellentesque habitant morbi tristique
     senectus et netus et malesuada fames ac turpis egestas. Interdum et
     malesuada fames ac ante ipsum primis in faucibus. Aenean vitae pharetra
     elit. Sed nec diam quis odio euismod mollis a vitae ante. Integer neque
     justo, consectetur quis pellentesque in, rutrum vitae neque. Integer id
     velit nec tellus bibendum condimentum in sed mi. Praesent dignissim ut
     nibh non pellentesque. Quisque et malesuada lorem. Quisque nec tellus
     elementum nibh condimentum venenatis quis sit amet metus.
.panel.panel-default
  .panel-heading
    h3.panel-title Lorem ipsum
  .panel-body
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id velit sed
     nibh dapibus efficitur quis a risus. Maecenas nec magna vel est rhoncus
     vehicula. Proin et ultrices mauris. Pellentesque habitant morbi tristique
     senectus et netus et malesuada fames ac turpis egestas. Interdum et
     malesuada fames ac ante ipsum primis in faucibus. Aenean vitae pharetra
     elit. Sed nec diam quis odio euismod mollis a vitae ante. Integer neque
     justo, consectetur quis pellentesque in, rutrum vitae neque. Integer id
     velit nec tellus bibendum condimentum in sed mi. Praesent dignissim ut
     nibh non pellentesque. Quisque et malesuada lorem. Quisque nec tellus
     elementum nibh condimentum venenatis quis sit amet metus.
.panel.panel-default
  .panel-heading
    h3.panel-title Lorem ipsum
  .panel-body
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id velit sed
     nibh dapibus efficitur quis a risus. Maecenas nec magna vel est rhoncus
     vehicula. Proin et ultrices mauris. Pellentesque habitant morbi tristique
     senectus et netus et malesuada fames ac turpis egestas. Interdum et
     malesuada fames ac ante ipsum primis in faucibus. Aenean vitae pharetra
     elit. Sed nec diam quis odio euismod mollis a vitae ante. Integer neque
     justo, consectetur quis pellentesque in, rutrum vitae neque. Integer id
     velit nec tellus bibendum condimentum in sed mi. Praesent dignissim ut
     nibh non pellentesque. Quisque et malesuada lorem. Quisque nec tellus
     elementum nibh condimentum venenatis quis sit amet metus.
.panel.panel-default
  .panel-heading
    h3.panel-title Lorem ipsum
  .panel-body
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id velit sed
     nibh dapibus efficitur quis a risus. Maecenas nec magna vel est rhoncus
     vehicula. Proin et ultrices mauris. Pellentesque habitant morbi tristique
     senectus et netus et malesuada fames ac turpis egestas. Interdum et
     malesuada fames ac ante ipsum primis in faucibus. Aenean vitae pharetra
     elit. Sed nec diam quis odio euismod mollis a vitae ante. Integer neque
     justo, consectetur quis pellentesque in, rutrum vitae neque. Integer id
     velit nec tellus bibendum condimentum in sed mi. Praesent dignissim ut
     nibh non pellentesque. Quisque et malesuada lorem. Quisque nec tellus
     elementum nibh condimentum venenatis quis sit amet metus.
.panel.panel-default
  .panel-heading
    h3.panel-title Lorem ipsum
  .panel-body
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id velit sed
     nibh dapibus efficitur quis a risus. Maecenas nec magna vel est rhoncus
     vehicula. Proin et ultrices mauris. Pellentesque habitant morbi tristique
     senectus et netus et malesuada fames ac turpis egestas. Interdum et
     malesuada fames ac ante ipsum primis in faucibus. Aenean vitae pharetra
     elit. Sed nec diam quis odio euismod mollis a vitae ante. Integer neque
     justo, consectetur quis pellentesque in, rutrum vitae neque. Integer id
     velit nec tellus bibendum condimentum in sed mi. Praesent dignissim ut
     nibh non pellentesque. Quisque et malesuada lorem. Quisque nec tellus
     elementum nibh condimentum venenatis quis sit amet metus.
.panel.panel-default
  .panel-heading
    h3.panel-title Lorem ipsum
  .panel-body
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id velit sed
     nibh dapibus efficitur quis a risus. Maecenas nec magna vel est rhoncus
     vehicula. Proin et ultrices mauris. Pellentesque habitant morbi tristique
     senectus et netus et malesuada fames ac turpis egestas. Interdum et
     malesuada fames ac ante ipsum primis in faucibus. Aenean vitae pharetra
     elit. Sed nec diam quis odio euismod mollis a vitae ante. Integer neque
     justo, consectetur quis pellentesque in, rutrum vitae neque. Integer id
     velit nec tellus bibendum condimentum in sed mi. Praesent dignissim ut
     nibh non pellentesque. Quisque et malesuada lorem. Quisque nec tellus
     elementum nibh condimentum venenatis quis sit amet metus.
