extends ../layouts/patient.jade
include ../mixins/odontogram

prepend nav
  -var section = 'odontogram'

block content
  h2 Odontograma
  .btn-toolbar(role="toolbar")
    //- Diseases buttons
    .btn-group
      button.btn.btn-disease(ng-click="setDisease(disease)" 
                             ng-repeat="disease in diseases")
        | {{ disease.description }}
      
    //- Fixes buttons
    .btn-group
      button.btn.btn-fix(ng-click="setFix(fix)" ng-repeat="fix in fixes")
        | {{ fix.description }}
      
    //- Utils buttons
    .btn-group
      button.btn.btn-disease(ng-click="setRemoved()")
        i.fa.fa-times
        |  Removido
      button.btn.btn-default(ng-click="clean()")
        i.fa.fa-eraser  
        |  Limpiar
      
  //- Odontogram widget  
  +odontogram
  
  button.btn.btn-success(ng-click="save()")
    i.fa.fa-save  
    |  Guardar
