extends ../layouts/patient.jade
include ../mixins/odontogram
include ../mixins/form

prepend nav
  -var section = 'odontogram'
  
block breadcrumb
  +breadcrumb(
    {href:"#/patients", name:"Lista de pacientes"},
    {href:"#/patients/{{patient.slug}}", name:"{{ patient.first_name }} {{ patient.last_name }}"},
    {href:"#/patients/{{patient.slug}}/odontograms", name:"Odontogramas"},
    {name:"Nuevo"}
  )

block content
  h2 Odontograma
  +form-input("Título", "title", "Odontograma inicial")
  +form-textarea("Comentarios", "comments")
  
  .btn-toolbar(role="toolbar")
    //- Diseases buttons
    .btn-group
      button.btn.btn-disease(ng-click="setDisease(disease)" 
                             ng-repeat="disease in diseases"
                             ng-disabled="!selected"
                             ng-bind="disease.description")
      
    //- Fixes buttons
    .btn-group
      button.btn.btn-fix(ng-click="setFix(fix)" ng-repeat="fix in fixes"
                         ng-disabled="!selected" ng-bind="fix.description")
      
    //- Utils buttons
    .btn-group
      button.btn.btn-default(ng-click="clean()" ng-disabled="!selected")
        i.fa.fa-eraser  
        |  Limpiar
  
  //- Odontogram widget  
  +odontogram({remove: true})
  
  button.btn.btn-success(ng-click="save()")
    i.fa.fa-save  
    |  Guardar
