h1 Patients

input.col-xs-12(ng-model="search" placeholder="Type to search")

table.table.table-striped
  thead
    tr
      th Name
      th Phone
      th: a.btn.btn-default(href="#/patients/create")
        i.fa.fa-plus  New pacient
  tbody
    tr(ng-repeat="patient in patients|filter:search")
      td
        a(href="#/patients/{{patient._id}}") 
          {{ patient.first_name }} {{ patient.last_name }}
      td {{ patient.phone }}
      td
        .btn-group
          a.btn.btn-default(href="#/patients/{{ patient._id }}/update")
            i.fa.fa-pencil  Edit
          a.btn.btn-danger(href="#/patients/{{ patient._id }}/delete")
            i.fa.fa-remove  Delete
