include ../mixins/form.jade
h1 Nuevo paciente

form(novalidate name="form")
  +form-input("Nombre", "patient.first_name", "Pedro")
  +form-input("Apellido", "patient.last_name", "Gonzalez")
  
  .row
    .pull-right
      .btn-group(role="group" aria-label="...")
        button.btn.btn-success(ng-click="save(patient)" 
                               ng-disabled="!form.$valid") Guardar
        button.btn.btn-danger(ng-click="cancel()") Cancelar
