include ../mixins/form

block breadcrumb
  ol.breadcrumb
    li: a(href="/"): i.fa.fa-home
    li: a(ng-href="#/products") Costos directos
    li(ng-if="product._id"): a(ng-href="#/products/{{product._id}}" ng-bind="product.name|uppercase")
    li.active(ng-if="product._id") Editar
    li.active(ng-if="!product._id") Nuevo producto

block content
  h1 Nuevo producto
  form(novalidate name="form")
    +form-input('Nombre', 'product.name', 'Nombre', 'required')
    +form-input('Tasa de rendimiento', 'product.performance_rate',
                'Cantidad de usos por envase', 'required')(type='number')
      
  .row
    .col-md-12
      .pull-right
        .btn-group(role="group" aria-label="...")
          button.btn.btn-success(ng-click="save(product)" 
                                 ng-disabled="!form.$valid") Guardar
          button.btn.btn-danger(ng-click="cancel()") Cancelar
