- var cuadrantes = [1, 2, 3, 4]
- var piezas = [1, 2, 3, 4, 5, 6, 7, 8]

link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")

style
  |  .sector {
  |      fill:white;
  |      fill-opacity:1;
  |  }
  |  .sector:hover {
  |      fill:#dddddd;
  |  }
  |  .enfermedad {
  |      fill:#d9534f;
  |  }
  |  .enfermedad:hover {
  |      fill:#ff887f;
  |  }
  |  .arreglo {
  |      fill:#2e6da4;
  |  }
  |  .arreglo:hover {
  |      fill:#0088ff;
  |  }
  |  .selected {
  |      fill:#ffae00;
  |  }
  |  .selected:hover {
  |      fill:#D97800;
  |  }
  |  .removed {
  |      display:none;
  |      fill:#d9534f;
  |  }
  | .pieza {
  |  display: inline-block; 
  | }
  | .cuadrante {
  |  display: inline-block; 
  |  margin-right: 1em;
  | }
  | table {
  | border: 1px solid black; 
  | width: 100%;
  | }
  | td {
  | border: 1px solid black; 
  | text-align: center;
  | }

.btn-toolbar(role="toolbar")
  .btn-group
    button.btn.btn-danger.btn_enfermedad Enfermedad A
    button.btn.btn-danger.btn_enfermedad Enfermedad B
    button.btn.btn-danger.btn_enfermedad Enfermedad C
    button.btn.btn-danger.btn_enfermedad Enfermedad D
  .btn-group
    button.btn.btn-primary.btn_arreglo Arreglo X
    button.btn.btn-primary.btn_arreglo Arreglo Y
    button.btn.btn-primary.btn_arreglo Arreglo Z
  .btn-group
    button.btn.btn-danger.btn_removed Faltante
    button.btn.btn-default.btn_clean Limpiar

- for cuadrante in cuadrantes
  .cuadrante
    - for pieza in piezas
      - id = cuadrante * 10 + pieza
        .pieza
          table
            thead
              th(colspan=3)=id
            tbody
              tr: td(colspan=3) AA
              tr
                td BB
                td CC
                td DD
              tr: td(colspan=3) EE
          include odontograma.jade
          div=id

script(src="https://code.jquery.com/jquery-2.2.3.min.js")
script
  | $(".sector").on("click", function(e) {
  |   $(this).toggleClass("selected");
  | });
  | $('.btn_arreglo').on('click', function(e){
  |   $(".selected").removeClass().addClass('sector arreglo')
  |                 .attr('title', 'Arreglo');
  | });
  | $('.btn_enfermedad').on('click', function(e){
  |   $(".selected").removeClass().addClass('sector enfermedad')
  |                 .attr('title', 'Enfermedad');
  | });
  | $('.btn_removed').on('click', function(e){
  |   var e = $(".selected").nextAll(".removed")
  |   var o = e.css('display');
  |   e.css('display', o === "none" ? "inline": "none");
  |   $(".selected").removeClass('selected');
  | });
  | $('.btn_clean').on('click', function(e){
  |   $(".selected").removeClass().addClass('sector').attr('title', '');
  | });
