h1 Borrar paciente "{{ patient.first_name }} {{ patient.last_name }}"

.row
  .col-md-12
    p ¿Está seguro que quiere borrar el paciente {{ patient.first_name }}
      {{ patient.last_name }}?

  .col-md-12
    .btn-group(role="group" aria-label="...")
      button.btn.btn-danger(ng-click="delete()") Sí, borrar
      button.btn.btn-success(ng-click="cancel()") No, cancelar
