include ../mixins/nav.jade
include ../mixins/breadcrumb.jade

block breadcrumb
  +breadcrumb(
    {href:"#/patients", name:"Lista de pacientes"},
    {href:"#/patients", name:"{{ patient.first_name }} {{ patient.last_name }}"}
)

h1
  span(ng-bind="patient.last_name|uppercase")
  small.text-capitalize(ng-bind='" "+ patient.first_name')
  .btn-group.pull-right

block nav
  ul.nav.nav-tabs
    +nav_item('Datos del paciente', "#/patients/{{patient.slug}}",
              section == 'detail')
    +nav_item('Odontograma', "#/patients/{{patient.slug}}/odontograms",
              section == 'odontogram')
    +nav_item('Historia Clínica', "",
              section == 'history')
    +nav_item('Plan de tratamiento', "",
              section == 'treatment')
    +nav_item('Planilla de pago', "#/patients/{{patient.slug}}/payments",
              section == 'payments')
    +nav_item('Fotos', "#/patients/{{patient.slug}}/gallery", 
              section == 'gallery')
block content
